<%- include ("partials/header")%> 


<div class="col-12 col-md-6 card container text-left mt-5">
    <div> <%= blog.title %></div>
    <img src="<%=blog.image%>" alt="">
        <span><%=blog.created.toDateString()%></span>
        <p>
            <%-blog.body%>
        </p>
        <a href="/blogs/<%=blog._id%>/edit"><button class=" btn-lg btn-success">Edit</button></a>
        <form style="display: inline;" action="/blogs/<%=blog._id%>?_method=delete" method="post">
            <button  class="btn-danger">DELETE</button>
        </form>
</div>

<%- include ("partials/footer")%>